div.accordion {

    &, * {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

    float: left;
    width: 100%;
    margin: 20px 0;

    div.accordion-title {
        float: left;
        width: 100%;
        padding: 10px;
        background: #d2d2d2;
        color: #000000;
        font-size: 1.7em;
    }

    div.accordion-body {
        float: left;
        width: 100%;
        padding: 10px;
        background: #e2e2e2;
    }
}
